
    <div id="content_panel" class="content_panel" scroll="false" ng-controller="playerArtistCtrl">
        <div id="profile" class="row">
            <div class="profile-container horizontal-line-text col">
                <img ng-class="{'slide_box_image_event_square': !imagesAreRound, 'slide_box_image_event_round': imagesAreRound}" src="{{albumDetails.BioPhoto[0].ImageURL}}" />
            </div>
        </div>
        <div id="profileController">
            <div id="musicPlayer" class="row">
                <div id="Time-1" class="text-style-title col">{{albumDetails.Name}}</div>
            </div>
            <div id="musicPlayer" class="row">
                <div id="Time-1" class="text-style-body col">{{albumDetails.TagLine}}</div>
            </div>


            <div id="line-whatsNew" class="row">
                <div id="line-1" class="col col-33">
                    <img class="horizontal-line" src="img/line.png" />
                </div>
                <div id="line-1" class="col col-33  horizontal-line-text-small">
                    Info
                </div>
                <div id="line-1" class="col col-33">
                    <img class="horizontal-line" src="img/line.png" />
                </div>

            </div>


            <div id="musicPlayer" class="row">
                <div id="musicPlayer" class="col-50">

                    <div id="musicPlayer" class="row">
                        <div id="Time-1" class="text-style-body-left col">DOB:</div>
                    </div>
                    <div id="musicPlayer" class="row">
                        <div id="Time-1" class="text-style-body-left col">Location:</div>
                    </div>
                </div>

                <div id="musicPlayer" class="col-50">

                    <div id="musicPlayer" class="row">
                        <div id="Time-1" class="text-style-body-left col">{{ albumDetails.DOB  }}</div>
                    </div>
                    <div id="musicPlayer" class="row">
                        <div id="Time-1" class="text-style-body-left col">{{ albumDetails.Location   }}</div>
                    </div>

                </div>
            </div>

            <div id="line-whatsNew" class="row">
                <div id="line-1" class="col col-33">
                    <img class="horizontal-line" src="img/line.png" />
                </div>
                <div id="line-1" class="col col-33  horizontal-line-text-small">
                    About
                </div>
                <div id="line-1" class="col col-33">
                    <img class="horizontal-line" src="img/line.png" />
                </div>
            </div>
            <div id="musicPlayer" class="row">
                <div id="Time-1" class="text-style-body-left col">{{  albumDetails.About }}.</div>
            </div>

            <div id="line-whatsNew" class="row">
                <div id="line-1" class="col col-33">
                    <img class="horizontal-line" src="img/line.png" />
                </div>
                <div id="line-1" class="col col-33  horizontal-line-text-small">
                    Artist Images
                </div>
                <div id="line-1" class="col col-33">
                    <img class="horizontal-line" src="img/line.png" />
                </div>
            </div>

            <ion-slide-box delegate-handle="eventArtists" id="eventArtists" does-continue="true" auto-play="false" show-pager="false">
                <ion-slide id="eventArtistsSlide">
                    <ion-spinner icon="circles" class="spinner-energized" ng-class="{'spinner-energized': !albumDetailsGetData, 'hide_spinner': albumDetailsGetData}"></ion-spinner>
                    <div class="row">
                        <div id="artists" class="{{ItemCol}} slide-box-container-singleLine  animated bounceIn" ng-repeat="data in albumDetails.ArtistPhotos">
                            <img on-hold="onimgToduch();imgtouchActive = !imgtouchActive"
                                 on-release="imgtouchActive=false"
                                 ng-class="{'slide_box_image_thumb_square': !imagesAreRound, 'slide_box_image_thumb_round animated rotate180 infinite':imagesAreRound}"
                                 on-tap="actShowImage(data.ImageURL)"
                                 src="{{data.ImageURL}}" title="{{data.Name}}" />
                            <p class="slide_box_image_Text">{{data.Name}}</p>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </div>
